<!DOCTYPE html>
<html>
<head>
    <title>Search results</title>
    <style>
      table.blueTable {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
      }
      table.blueTable td, table.blueTable th {
        border: 1px solid #AAAAAA;
        padding: 3px 2px;
      }
      table.blueTable tbody td {
        font-size: 13px;
      }
      table.blueTable tr:nth-child(even) {
        background: #D0E4F5;
      }
      table.blueTable thead {
        background: #1C6EA4;
        background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        border-bottom: 2px solid #444444;
      }
      table.blueTable thead th {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        border-left: 2px solid #D0E4F5;
      }
      table.blueTable thead th:first-child {
        border-left: none;
      }

      table.blueTable tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #D0E4F5;
        background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        border-top: 2px solid #444444;
      }
      table.blueTable tfoot td {
        font-size: 14px;
      }
      table.blueTable tfoot .links {
        text-align: right;
      }
      table.blueTable tfoot .links a{
        display: inline-block;
        background: #1C6EA4;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
      }
  </style>
</head>
<body>
<p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
          {% endif %}
        {% endwith %}
</p>

  <h2>Search results </h2>

  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
  
  <h2> Visualize it in the constellation map</h2>  
    <p>Click <a href="/showmap" target="_blank"> Visualizing my genome </a> will search your query against <b>RefSeq 7k spectra</b>, 
    and send the search results to the Genome Constallation Map (new window). 
    You may have to zoom in to see your own genome(s) Hint: Look for the white lines. 
    If your genomes produce no hit, then they will not be shown.
    Only the selected number of neighbors will be shown (default: 3).</p>
    <p>
    <p> For more information of the Genome Constellation Project, please see the
    <a href="https://bitbucket.org/berkeleylab/jgi-genomeconstellation" target="_blank"> Genome Constellation Project page.</a></p>
</body>
</html>
