body {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
}
.label {
    position: absolute;
    text-align: left;
    top: 10px;
    color: #999;
    font-size: 12px;
    left: 10px;
    font-family: Verdana;
}
.progress-meter .background {
    fill: #ccc;
}
.progress-meter .foreground {
    fill: #000;
}
.progress-meter text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
#config {
    opacity: 0.4; /* css standard */
}

#config:hover {
    opacity: 0.8; /* css standard */
}

.transparent{
    filter:alpha(opacity=60);
    /* CSS3 standard */
    opacity:0.6;
}

.counts{
    color: white;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-family: Verdana;
    top : 10px
}

.button { cursor: pointer }
#progress-info{
    color: white;
    font-size: 32px;
    text-align: center;
    color: #999;
    font-family: Verdana;
}

.button {
    padding:5px;
    background-color: #dcdcdc;
    border: 1px solid #666;
    color:#000;
    text-decoration:none;

}

.button, .sbutton {
    cursor: pointer
}

.button:hover {
    background: #999
}

.toright{
    text-align: right
}

.control .universe td{
    padding: 1px;
}

